# OpenWeatherMap API Configuration
OPENWEATHER_API_KEY=9fbf8dc3b6d9aac41d2956259bb499d8
OPENWEATHER_CITY=London
OPENWEATHER_LAT=51.5074
OPENWEATHER_LON=-0.1278

# MLflow and DagsHub Configuration
MLFLOW_TRACKING_URI=https://dagshub.com/abdullahiqbal1133/MLOPS_PROJECT_OPEN_WEATHER.mlflow
DAGSHUB_USERNAME=abdullahiqbal1133
DAGSHUB_TOKEN=a401bee369c6b57cdbe425bdd73992d982d9894f

# MinIO Configuration
MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=mlops-data

# Airflow Configuration
AIRFLOW_UID=50000
